body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum" , "Arial" , "sans-serif";
    font-style: normal;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;  
}

a {
    text-decoration: none;
}

.main-header {
    margin-bottom: 59px;
    padding-bottom: 60px;

    background-color: #f3f7f8;
}

.user-menu {
    margin-bottom: 46px;
    background-color: #293449;
}

.logo {
    width: 220px;
    display: block;

    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 8px;
    padding-bottom: 8px;

    background-color: #ee3643;
    
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:focus {
    background-color: #ba2732;
}

.user-menu__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.user-menu__link {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    width: 150px;

    padding-top: 11px;
    padding-bottom: 11px;
}

.user-menu__link:hover {
    background-color: rgba(0, 0, 0,0.6);
}

.user-menu__link:focus {
    background-color: rgba(0, 0, 0,0.6);
    color: rgba(255, 255, 255,0.6);
}

.user-menu__link--order {
    background-color: #63a63e;
}

.user-menu__link--order:hover {
    background-color: #5fbb2d;
}

.user-menu__link--order:focus {
    background-color: rgba(81, 133, 52,0.5);
    color: rgba(255, 255, 255,0.5);
}

.user-menu__link--search {
    width: 240px;
    text-align: left;
}

.user-menu__link--search:focus {
    color: #ffffff;
    background-color: #293449;
}

.user-menu__link--basket {
    background-color: #ee3643;
}

.shop-info {
    margin-bottom: 45px;
}

.shop-info__container {
    display: flex;
    justify-content: space-between;
}

.shop-info__name {
    margin: 0;
    padding: 0;
    width: 300px;

    font-family: "Cuprum" , "Arial" , "sans-serif";
    font-style: Italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.shop-info__item {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #32425c;
}

.shop-info__item--adress {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.shop-info__link {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;

    border: 3px solid #ffffff;
}

.user-navigation {
    display: flex;

    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 21px;

    list-style: none;
}

.user-navigation__catalog {
    display: flex;
    flex-direction: column;
}

.user-navigation__name {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.user-navigation__name:focus {
    color: Rgba(0, 0, 0, 0.3);
}

.user-navigation__link--catalog {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;

    text-decoration: underline;
}

.user-navigation__link--catalog:hover {
    color: #ee3643;
    text-decoration-color: #ee3643;
}

.user-navigation__link--catalog:focus {
    color: Rgba(50, 66, 92, 0.3);
    text-decoration-color: Rgba(50, 66, 92, 0.3);
}

.user-navigation__link {
    background-color: #ffffff;
    font-weight: 700;
    color: #000000;
}

.user-navigation__link:hover {
    color: #ee3643;
}

.user-navigation__link:focus {
    color: Rgba(0, 0, 0, 0.3);
}

.main-navigation {
    background-color: #32425c;
}

.site-navigation {
    padding: 0;
    margin: 0;

    display: flex;
    
    list-style: none;
}

.site-navigation li {
    flex-grow: 1;
}

.site-navigation__link {
    display: block;
    padding-top: 22px;
    padding-bottom: 21px;

    font-size: 17px;
    line-height: 17px;
    color: #ffffff;

    text-align: center;
}

.site-navigation__link:hover {
    background-color: #293449;
}

.site-navigation__link:focus {
    background-color: #1d2739;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.catalog-filter {
    display: block;
    width: 220px;
}

.catalog-filter__container {
    display: flex;
    flex-direction: column;
}

.catalog-goods {
    display: block;
    width: 700px;
}

.catalog-filter__title {
    width: 220px;
    font-family: "PTSans", "Arial", "sans-serif";
    font-style: normal;
    font-size: 13px;
    line-height: 18px;

    text-transform: uppercase;
    background-color: #f7f3ec;
}

.catalog-header {
    display: flex;
    flex-direction: row;
    align-items: center;


    background-color: #f7f3ec;
}

.catalog-menu__container {
    display: flex;
    justify-content: space-between;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    width: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style: none;
}

.catalog-filter-list__item {
    font-family: "PTSans", "Arial", "sans-serif";
    font-style: normal;
    font-size: 13px;
    line-height: auto;

    text-transform: uppercase;
}

.catalog-filter-list__item--price {
    color: Rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
}

.catalog-filter-list__item--type {
    color: Rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
}

.catalog-filter-list__item--function {
    color: Rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
}

.catalog-filter-list__item--price:hover {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #ee3643;
}

.catalog-filter-list__item--type:hover {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #ee3643;
}

.catalog-filter-list__item--function:hover {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #ee3643;
}

.catalog-filter-list__item--price:active {
    color: #ee3643;
    text-decoration: none;
}

.catalog-filter-list__item--type:active {
    color: #ee3643;
    text-decoration: none;
}

.catalog-filter-list__item--function:active {
    color: #ee3643;
    text-decoration: none;
}

.catalog-pages {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.catalog-pages__link {
    font-family: "PTSans", "Arial", "sans-serif";
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    padding-left: 16px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;

    text-transform: uppercase;

    border: 1px solid #e5e5e5;
}

.catalog-pages__link--next{
    color: #000000;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 12px;
    padding-bottom: 12px;

    text-transform: uppercase;

    border: 1px solid #e5e5e5;
}

.catalog-pages__link--next:hover {
    border-color: #bdc6ca;
}

.catalog-pages__link:hover {
    border-color: #bdc6ca;
}

.catalog-pages__link--next:focus {
    border-color: #ee3643;
}

.catalog-pages__link:focus {
    color: #ffffff;
    background-color: #ee3643;
}

.catalog-pages__link:active {
    color: #000000;

    background-color: #ffffff;
    border-color: #ee3643;
}

.bread-crumps-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    list-style: none;
}

.bread-crumps-list__item {
    font-family: "PTSans", "Arial", "sans-serif";
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.bread-crumps-list__link {
    color: #000000;
}

.offers {
    margin: 0;
    padding: 0;
    margin-bottom: 53px;
}

.offers-list {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style: none;
}

.offers-list--slide {
    flex-direction: column;
}

.offers-list__cards {
    margin: 0;
    padding: 0;

    justify-content: space-between;
}

.offers-list__slides {
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: space-between;
}

.offers-list__title {
    margin-left: 24px;
    margin-top: 18px;
    margin-bottom: 15px;

    font-family: "Cuprum", "Arial", "sans-serif";
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
}

.offers-list__link {
    margin-left: 26px;
    margin-bottom: 22px;

    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: Rgba(0, 0, 0, 0.1)
}

.offers-list__link:hover {
    background-color: Rgba(0, 0, 0, 0.2)
}

.offers-list__link:focus {
    background-color: Rgba(0, 0, 0, 0.3)
}

.offers-list__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 300px;

    margin-bottom: 20px;
}

.offers-list__item--materials {
    background-color: #ffbf47;
}

.offers-list__item--tools {
    background-color: #3bbce3;
}

.offers-list__item--techs {
    background-color: #dc91d8;
}

.offers-list__item--discounts {
    background-color: #8ed78f;
}

.offers-list__item--delivery {
    background-color: #ffc047;
}

.offers-slides {
    list-style: none;
}

.offers-drills-slides {
    background-image: url('../images/drills.jpg');
    width: 620px;
    height: 266px;
}

.offers-perf-slides {
    display: none;
    background-image: url('../images/Perf.jpg');
    width: 620px;
    height: 266px;
}

.offers-slides__title {
    font-family: "Cuprum" , "Arial" , "sans-serif";
    font-style: Bold;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 700;
}

.offers-slides__text {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.offers-slides__link {
    background-color: #ee3643;
}

.pop-goods {
margin-bottom: 22px;
}

.popular-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 30px;

    background-color: #f9f5f0;
}

.popular-header__title {
    margin: 0;
    padding: 0;

    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f2f6f8;
}

.filter fieldset {
    border: none;
}

.sorting-title {
    font-family: "PTSans" , "Arial" , "sans-serif";
    font-style: Bold;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;

    text-transform: uppercase;
}

.sorting-filter {
    margin: 0;
    padding: 0;

    list-style: none;
}

.sorting-filter__item {
    font-family: "PTSans" , "Arial" , "sans-serif";
    font-style: normal;
    font-size: 15px;
    line-height: 20px;

    text-transform: uppercase;
}

.popular-popup {
    display: none;
}

.popular-popup__container {
    display: flex;
    flex-direction: row;

}

.popular-popup-list {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;

    list-style: none;
}

.popular-popup-list__item {
    margin-top: 20px;
    display: block;
    width: 220px;

    border: 1px solid #e5e5e5;
}

.popular-popup-list--catalog {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-popup-list__item:hover {
    box-shadow: 10px 0 25px rgba(41,52,73,0.5);
}

.popular-popup-list__text {
    font-family: "PTSans" , "Arial" , "sans-serif";
    font-style: Bold;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}

.popular-popup__link {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.popular-popup__link--buy {
    color: #ffffff;
    padding-left: 46px;
    padding-right: 42px;
    padding-top: 12px;
    padding-bottom: 11px;

    background-color: #63a63e;
}

.popular-popup__link--buy:hover {
    background-color: #5fbb2d;
}

.popular-popup__link--buy:focus {
    background-color: #518534;
}

.popular-popup__link--bookmarks {
    color: #32425c;
    padding-left: 32px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 11px;

    border: 3px solid #63a63e;
}

.popular-popup__link--bookmarks:hover {
    border-color: #32425c;
}

.popular-popup__link--bookmarks:focus {
    color: Rgba(0, 0, 0, 0.3);
    border-color: Rgba(0, 0, 0, 0.3);
}

.old-price {
    font-family: "PTSans" , "Arial" , "sans-serif";
    font-style: Bold;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #a9a9a9;
    text-decoration: line-through;
    text-align: center;
}

.new-price {
    display: inline-block;
    font-family: "PTSans" , "Arial" , "sans-serif";
    font-style: Bold;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;

    padding-left: 37px;
    padding-right: 40px;
    padding-top: 13px;
    padding-bottom: 13px;

    background-color: #ee3643;
}

.pop-manufact {
    margin-bottom: 85px;
}

.pop-manufacts {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    list-style: none;
}

.pop-manufacts-list__item {
    margin-top: 20px;
}

.pop-manufacts-list__link {
    display: block;

    border: 1px solid #e5e5e5;
}

.pop-manufacts-list__link:hover {
    box-shadow: 10px 0 25px rgba(41,52,73,0.5);
}

.pop-manufacts-list__link:focus {
    box-shadow: 10px 0 25px rgba(41,52,73,0.5);
}

.pop-manufacts-list__link:active {
    opacity: 0.5;
    box-shadow: 4px 0 10px rgba(41,52,73,0.5);
}

.main-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.main-text {
    margin: 0;
    padding: 0;
    font-family: "PTSans" , "Arial" , "sans-serif";
    font-style: normal;
    font-size: 13px;
    line-height: 24px;
}

.services-scroll {
    width: 230px;
    display: flex;
}

.services-scroll-button {
    margin: 0;
    padding: 0;
}

.services-scroll-button__item {
    font-style: Bold;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;

    list-style:none;
}

.services-slide__container {
    margin: 0;
    padding: 0;
    width: 700px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services-slide__title {
    margin: 0;
    padding: 0;
}

.services-slide-delivery {
    display: flex;
    flex-direction: column;
    width: 700px;

    background-image: url('../images/delivery-image.png');
}

.services-slide-guarantee {
    display: none;
    background-image: url('../images/guarantee-image.png');
    width: 389px;
    height: 283px;
}

.services-slide-credit {
    display: none;
    background-image: url('../images/credit-image.png');
    width: 465px;
    height: 285px;
}

.partners-list {
    list-style: none;
    font-size: 18px;
    line-height: 20px;
}

.services-slide__title {
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
}

.button {
    font-size:  14px;
    line-height: 18px;
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
}

.button--catalog {
    padding-left: 49px;
    padding-right: 45px;
    padding-top: 12px;
    padding-bottom: 11px;
}

.button-catalog--form {
    font-size: 13px;
    line-height: 18px;
    color: #000000;

    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.button--goods {
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.button--manufacts {
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.button--application {
    padding-left: 59px;
    padding-right: 60px;
    padding-top: 12px;
    padding-bottom: 11px;
}

.button--company {
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 11px;
}

.company__container {
    display: flex;

    justify-content: space-between;
}

.company-info {
    width: 520px;

    display: flex;
    flex-direction: column;
}

.contacts__container {
    width: 300px;

    display: flex;
    flex-direction: column;
}

.button--map {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 11px;
}

.popup-catalog {
    background-color: #f1f1f1;
}

.catalog-popup {
    list-style: none;
}

.catalog-popup-list {
    font-size:  14px;
    line-height: 18px;
    text-transform: uppercase;
}

.catalog-popup--issue {
    color: #ffffff;
    background-color: #ee3643;
}

.catalog-popup--continue {
    color: #000000;
    background-color: #ffffff;
}

.button:hover {
    background-color: #ca2c37;
}
.button:focus {
    background-color: #ba2732;
}

.appointment-form__label {
    font-size:  18px;
    line-height: 18px;
}

.appointment-form__input {
    font-family: "PTSans" , "Arial" , "sans-serif";
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    font: inherit;
    color: #a9a9a9;

    border: 2px solid #d7dcde;
    outline: none;
}

.appointment-form__input:hover {
    border-color: #b5b5b5;
}

.appointment-form__input:focus {
    border-color: #ee3643;
}

.services {
    display: flex;

    background-color: #f2f6f8;
}

.services__container {
    display: flex;
    justify-content: space-between;
}

.services-header__container {
    margin: 0;
    padding: 0;
    width: 400px;

    display: column;
    flex-direction: row;
}

.shop-footer {
    background-color: #32425c;
}

.shop-footer__container {
    display: flex;
    justify-content: space-between;
}

.site-navigation-footer {
    display: flex;

    list-style:none;
}

.site-navigation-footer__link {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.site-navigation-footer--menu .site-navigation-footer__link {
    font-size: 18px;
    line-height: 24px;
    color: #ffda96;
}

.site-navigation-footer__link:hover {
    text-decoration: underline;
}

.site-navigation-footer__link:focus {
    opacity: 0.5;
}

.social-footer {
    display: flex;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.social-footer__container {
    display: flex;
    justify-content: space-between;
}

.social-footer-list {
    display: flex;
    list-style: none;
}

.social-footer-list__button {
    color: #ffffff;
}

.social-footer-list__button:hover,
.social-footer-list__button:focus {
    color: #ee3643;
}

.social-footer__link {
    font-size: 16px;
    line-height: 18px;
    color: #ffd180;
}

.social-footer__link:hover {
    text-decoration: underline;
}

.social-footer__link:focus {
    color: #ee3643;
}
