body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum" , "Arial" , "sans-serif";
    font-style: normal;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;  
}

a {
    text-decoration: none;
}

.main-header {
    margin-bottom: 59px;
    padding-bottom: 60px;

    background-color: #f3f7f8;
}

.main-header--catalog {
    margin-bottom: 25px;
}

.user-menu {
    margin-bottom: 46px;
    background-color: #293449;
}

.logo {
    width: 220px;
    display: block;

    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    padding: 8px;

    background-color: #ee3643;
    
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:focus {
    background-color: #ba2732;
}

.user-menu__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.user-menu__link {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    width: 150px;
    align-items: center;

    padding: 11px;
}

.user-menu__search:focus + .user-menu__icon-search {
    color: red;
}

.user-menu__icon-search {
    padding: 7px;
    position: absolute;
    top: 4px;
    left: 4px;

    color: #fff;
}

.user-menu__link:hover {
    background-color: #212a3a;
}

.user-menu__link:focus {
    background-color: #161d29;
    color: rgba(255, 255, 255,0.6);
}

.user-menu__link--favorite {
    position: relative;
    
    padding-left: 20px;
    padding-right: 0;
}

.user-menu__link--favorite::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 16px;

    width: 14px;
    height: 16px;

    background-image: url('../images/icon-bookmark.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-menu__link--favorite::before,
.user-menu__link--cart::before,
.user-menu__icon-search {
    opacity: 0.3;
}

.user-menu__link--favorite:hover::before,
.user-menu__link--cart:hover::before,
.user-menu__icon-search:hover {
    opacity: 1;
}

.user-menu__link--favorite:focus::before,
.user-menu__link--cart:focus::before {
    opacity: 0.5;
}
.user-menu__link--cart {
    position: relative;
    
    padding-left: 20px;
    padding-right: 0;
}

input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
}

.user-menu__link--cart--catalog {
    background-color: #ee3643;
}

.user-menu__link--cart--catalog:hover {
    background-color: #ca2c37;
}
.user-menu__link--cart--catalog:focus {
    background-color: #ba2732;
}

.user-menu__link--cart::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 16px;

    width: 15px;
    height: 15px;

    background-image: url('../images/icon-cart.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-menu__link--order {
    background-color: #63a63e;
}

.user-menu__link--order:hover {
    background-color: #5fbb2d;
}

.user-menu__link--order:focus {
    background-color: rgba(81, 133, 52,0.5);
    color: rgba(255, 255, 255,0.5);
}



.user-menu__search:focus + .user-menu__icon-search {
    color: red;

    opacity: 1;
}


.user-menu__search-form {
    position: relative;
}

.user-menu__search {
    font-size: 17px;
    line-height: 18px;
    
    width: 270px;

    padding: 11px 45px;
    border: none;
    outline: none;

    background-color: #293449;
}

.user-menu__search:hover {
    background-color: #212a3a;
}

.user-menu__search:focus {
    background-color: #ffffff;
}

.shop-info {
    margin-bottom: 40px;
}

.shop-info__container {
    display: flex;
    justify-content: space-between;
}

.shop-info__name {
    margin: 0;
    margin-left: 50px;
    padding: 0;
    width: 200px;

    font-family: "Cuprum" , "Arial" , "sans-serif";
    font-style: Italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.shop-info__item {
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #32425c;
}

.shop-info__item--adress {
    padding-top: 30px;
    padding-bottom: 50px;

    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.shop-info__link-tel {
    margin: 0;
    padding: 0;
    
    position: relative;

    padding: 10px;

    display: block;

    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    text-align: center;

    border: 3px solid #ffffff;
}

.shop-info__link-tel::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 14px;

    width: 19px;
    height: 19px;

    opacity: 0.3;

    background-image: url('../images/icon-phone.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-navigation-list {
    width: 281px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    font-size: 21px;
    line-height: 21px;

    list-style: none;
}

.user-navigation__catalog {
    width: 300px;

    display: flex;
    flex-direction: column;
}

.user-navigation-list-catalog {
    display: flex;

    margin: 0;
    padding: 0;
    padding: 8px 5px;

    font-size: 16px;
    line-height: 18px;
    list-style: none;
}

.user-navigation-list-catalog__item {
    margin: 0 15px;

    align-items: flex-start;
}

.shop-info__link-tel::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 14px;

    width: 19px;
    height: 19px;

    opacity: 0.3;

    background-image: url('../images/icon-phone.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-navigation--user {
    width: 100%;
    position: relative;

    padding: 12px 0;

    display: block;
    
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #000000;

    background-color: #ffffff;
}

.user-navigation-menu {
    display: flex;
}

.user-navigation--user::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 15px;

    width: 20px;
    height: 18px;

    opacity: 0.3;

    background-image: url('../images/icon-user.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-navigation--user:hover::before {
    opacity: 1;
}

.user-navigation--user:focus::before,
.user-navigation--user:active::before {
    opacity: 0.3;
}

.user-navigation__logout {
    position: absolute;

    padding-top: 13px;
    padding-left: 265px;
}

.user-navigation__icon-logout {
    opacity: 0.3;
}

.user-navigation__icon-logout:hover {
    opacity: 1;
}

.user-navigation__icon-logout:focus,
.user-navigation__icon-logout:active {
    opacity: 0.3;
}

.user-navigation__name:focus {
    color: Rgba(0, 0, 0, 0.3);
}

.user-navigation-list-catalog__link {
    color: #32425c;

    text-decoration: underline;
}

.user-navigation-list-catalog__link--catalog {
    position: relative;
}

.user-navigation-list-catalog__link--catalog:before {
    content: ""; 
        
    position: absolute; 
    top: 8px; 
    left: 88px; 
        
    width: 4px;
    height: 4px;
        
    border-radius: 50%;
        
    background-color: #32425c; 
}

.user-navigation-list-catalog__link:hover {
    color: #ee3643;
    text-decoration-color: #ee3643;
}

.user-navigation-list-catalog__link:focus {
    color: Rgba(50, 66, 92, 0.3);
    text-decoration-color: Rgba(50, 66, 92, 0.3);
}

.user-navigation-list__link {
    display: block;
    padding: 12px 22px;

    background-color: #ffffff;
    font-weight: 700;
    color: #000000;

    text-align: center;
}

.user-navigation-list__link--login {
    position: relative;
    
    padding-left: 45px;
    padding-right: 25px;
}

.user-navigation-list__link--login:before {
    content: "";

    position: absolute;
    top: 14px;
    left: 14px;

    width: 20px;
    height: 17px;

    opacity: 0.3;

    background-image: url('../images/icon-login.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-navigation-list__link--login:hover:before {
    opacity: 1;
}

.user-navigation-list__link--login:focus:before,
.user-navigation-list__link--login:active:before {
    opacity: 0.3;
}

.user-navigation-list__link:hover {
    color: #ee3643;
}

.user-navigation-list__link:focus {
    color: Rgba(0, 0, 0, 0.3);
}

.main-navigation {
    background-color: #32425c;
}

.site-navigation {
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    
    list-style: none;
}

.site-navigation li {
    flex-grow: 1;
}

.site-navigation__link {
    display: block;
    padding: 21px;

    font-size: 17px;
    line-height: 17px;
    color: #ffffff;

    text-align: center;
}

.site-navigation li:first-child .site-navigation__link {
    padding-left: 40px;
}

.site-navigation li:last-child .site-navigation__link {
    padding-right: 40px;
}

.site-navigation__link:hover {
    background-color: #293449;
}

.site-navigation__link:focus {
    background-color: #1d2739;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.catalog-filter {
    display: block;
    width: 220px;
}

.catalog-filter__container {
    display: flex;
    flex-direction: column;
}

.catalog-goods {
    display: block;
    width: 700px;
}

.catalog-filter__title {
    margin: 0;
    padding: 0;
    padding: 13px 15px;

    width: 190px;
    font-family: "PTSans", "Arial", "sans-serif";
    font-style: normal;
    font-size: 13px;
    line-height: 18px;

    text-transform: uppercase;
    background-color: #f7f3ec;
}

.catalog-filter__title--sort {
    margin: 0;
    padding: 0;
}

.catalog-header {
    padding: 10px 15px;

    display: flex;
    flex-direction: row;
    align-items: center;


    background-color: #f7f3ec;
}

.catalog-menu__container {
    display: flex;
    justify-content: space-between;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    width: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style: none;
}

.catalog-filter-list__item {
    font-family: "PTSans", "Arial", "sans-serif";
    font-style: normal;
    font-size: 13px;
    font-weight: 18px;
    line-height: auto;

    text-transform: uppercase;
}

.catalog-filter-list__item--price {
    color: Rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
}

.catalog-filter-list__item--type {
    color: Rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
}

.catalog-filter-list__item--function {
    color: Rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #ee3643;
}

.catalog-filter-list__item--price:hover {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #ee3643;
}

.catalog-filter-list__item--type:hover {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #ee3643;
}

.catalog-filter-list__item--function:hover {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #ee3643;
}

.catalog-filter-list__item--price:active {
    color: #ee3643;
    text-decoration: none;
}

.catalog-filter-list__item--type:active {
    color: #ee3643;
    text-decoration: none;
}

.catalog-filter-list__item--function:active {
    color: #ee3643;
    text-decoration: none;
}

.catalog-pages {
    width: 284px;

    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.catalog-pages__link {
    font-family: "PTSans", "Arial", "sans-serif";
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    padding: 12px 16px;

    text-transform: uppercase;

    border: 1px solid #e5e5e5;
}

.catalog-pages__link--next{
    color: #000000;
    padding: 12px 20px;
}

.catalog-pages__link--next:hover {
    border-color: #bdc6ca;
}

.catalog-pages__link:hover {
    border-color: #bdc6ca;
}

.catalog-pages__link--next:focus {
    border-color: #ee3643;
}

.catalog-pages__link:focus {
    color: #ffffff;
    background-color: #ee3643;
}

.catalog-pages__link:active {
    color: #000000;

    background-color: #ffffff;
    border-color: #ee3643;
}

.bread-crumps {
    margin-bottom: 25px;
}

.bread-crumps-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    list-style: none;
}

.bread-crumps-list__item {
    position: relative;

    padding-right: 40px;
    
    font-family: "PTSans", "Arial", "sans-serif";
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.bread-crumps-list__link {
    color: #000000;
}

.bread-crumps-list__item::before {
    content: "";

    position: absolute;
    top: 2px;
    right: 15px;

    width: 8px;
    height: 12px;

    background-image: url('../images/icon-right-small.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.bread-crumps-list .bread-crumps-list__item:last-child::before {
    display: none;
}

.offers {
    margin: 0;
    padding: 0;
    margin-bottom: 53px;
}

.offers-list {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    list-style: none;
}

.offers-list--slide {
    flex-direction: column;
}

.offers-list__cards {
    margin: 0;
    padding: 0;

    justify-content: space-between;
}

.offers-list__container {
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: space-between;
}

.offers-list__title {
    margin-top: 0;
    margin-bottom: 15px;

    font-family: "Cuprum", "Arial", "sans-serif";
    font-weight: Bold;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
}

.offers-list__link {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: Rgba(0, 0, 0, 0.1)
}

.offers-list__link:hover {
    background-color: Rgba(0, 0, 0, 0.2)
}

.offers-list__link:focus {
    background-color: Rgba(0, 0, 0, 0.3)
}

.offers-list__item {
    margin: 0;
    padding: 0;
    padding: 20px 24px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 252px;

    margin-bottom: 20px;
}

.user-navigation-list__link--login:before {
    content: "";

    position: absolute;
    top: 14px;
    left: 14px;

    width: 20px;
    height: 17px;

    opacity: 0.3;

    background-image: url('../images/icon-login.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.offers-list__item--materials {
    position: relative;

    background-color: #ffbf47;
}

.offers-list__item--materials::before {
    content: "";

    position: absolute;
    top: 30px;
    right: 43px;

    width: 44px;
    height: 65px;

    background-image: url('../images/icon-1.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.offers-list__item--tools {
    position: relative;

    background-color: #3bbce3;
}

.offers-list__item--tools::before {
    content: "";

    position: absolute;
    top: 30px;
    right: 23px;

    width: 75px;
    height: 61px;

    background-image: url('../images/icon-2.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.offers-list__item--techs {
    position: relative;

    background-color: #dc91d8;
}

.offers-list__item--techs::before {
    content: "";

    position: absolute;
    top: 30px;
    right: 23px;

    width: 78px;
    height: 62px;

    background-image: url('../images/icon-3.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.offers-list__item--discounts {
    position: relative;

    background-color: #8ed78f;
}

.offers-list__item--discounts::before {
    content: "";

    position: absolute;
    top: 30px;
    right: 23px;

    width: 59px;
    height: 72px;

    background-image: url('../images/icon-4.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.offers-list__item--delivery {
    position: relative;

    background-color: #ffc047;
}


.offers-list__item--delivery::before {
    content: "";

    position: absolute;
    top: 30px;
    right: 23px;

    width: 78px;
    height: 63px;

    background-image: url('../images/icon-5.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.offers-slides {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    padding-left: 25px;
    padding-top: 20px;

    list-style: none;
}

.offers-list-icons {
    margin-bottom: 35px;
    padding: 0 25px;

    display: flex;
    justify-content: space-between;

}

.offers-drills-slides {
    background-image: url('../images/drills.jpg');
    width: 620px;
    height: 266px;
}

.offers-perf-slides {
    display: none;
    background-image: url('../images/Perf.jpg');
    width: 620px;
    height: 266px;
}

.offers-slides__title {
    margin: 0;
    padding: 0;

    font-family: "Cuprum" , "Arial" , "sans-serif";
    font-weight: Bold;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
}

.offers-slides__text {
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.offers-slides__link {
    background-color: #ee3643;
}

.pop-goods {
margin-bottom: 22px;
}

.popular-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 30px;

    background-color: #f9f5f0;
}

.popular-header__title {
    margin: 0;
    padding: 0;

    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f2f6f8;
}

.popular-header__title--catalog {
    margin-bottom: 20px;
    padding: 30px;
    padding-left: 30px;
}

.price {
    margin-top: 20px;
    padding-bottom: 25px;
}

.manufact-filter {
    padding: 25px 0;

    border-top: 2px solid #f7f3ec;
}

.filter fieldset {
    border: none;
}

.sorting-menu {
    margin: 0;
    padding: 0;
}

.power-filter {
    padding: 25px 0;

    border-top: 2px solid #f7f3ec;
}

.sorting-title {
    margin-bottom: 10px;
    font-family: "PTSans" , "Arial" , "sans-serif";
    font-weight: Bold;
    font-size: 17px;
    line-height: 30px;

    text-transform: uppercase;
}

.sorting-title-field {
    margin: 0;
    padding: 0;
}

.sorting-filter {
    margin: 0;
    padding: 0;

    list-style: none;
}

.sorting-filter__item {
    padding-bottom: 10px;

    font-family: "PTSans" , "Arial" , "sans-serif";
    font-style: normal;
    font-size: 15px;
    line-height: 20px;

    text-transform: uppercase;
}

.popular-popup {
    display: none;
}

.popular-popup__container {
    display: flex;
    flex-direction: row;

}

.popular-popup-list {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;

    list-style: none;
}

.popular-popup-list__item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 221px;

    border: 1px solid #e5e5e5;
}

.popular-popup-list--catalog {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-popup-list__item:hover {
    box-shadow: 0 10px 12px 0 rgba(41,52,73,0.5);
}

.popular-popup-list__text {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    font-family: "PTSans" , "Arial" , "sans-serif";
    font-weight: Bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}

.popular-popup-image {
    margin-bottom: 15px;
}

.popular-popup__link {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.popular-popup__link--buy {
    color: #ffffff;
    padding-left: 46px;
    padding-right: 42px;
    padding-top: 12px;
    padding-bottom: 11px;

    background-color: #63a63e;
}

.popular-popup__link--buy:hover {
    background-color: #5fbb2d;
}

.popular-popup__link--buy:focus {
    background-color: #518534;
}

.popular-popup__link--bookmarks {
    color: #32425c;
    padding-left: 32px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 11px;

    border: 3px solid #63a63e;
}

.popular-popup__link--bookmarks:hover {
    border-color: #32425c;
}

.popular-popup__link--bookmarks:focus {
    color: Rgba(0, 0, 0, 0.3);
    border-color: Rgba(0, 0, 0, 0.3);
}

.old-price {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;

    font-family: "PTSans" , "Arial" , "sans-serif";
    font-weight: Bold;
    font-size: 17px;
    line-height: 18px;
    color: #a9a9a9;
    text-decoration: line-through;
    text-align: center;
}

.new-price {
    display: block;

    margin: 0;
    margin-top: auto;
    margin-bottom: 15px;
    padding: 0;
    padding: 13px 40px;

    font-family: "PTSans" , "Arial" , "sans-serif";
    font-weight: Bold;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;

    background-color: #ee3643;
    border-radius: 2px;
}

.pop-manufact {
    margin-bottom: 85px;
}

.pop-manufacts {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    list-style: none;
}

.pop-manufacts-list__item {
    margin-top: 20px;
}

.pop-manufacts-list__link {
    display: block;

    border: 1px solid #e5e5e5;
}

.pop-manufacts-list__link:hover {
    box-shadow: 0 10px 12px 0 rgba(41,52,73,0.5);
}

.pop-manufacts-list__link:focus {
    box-shadow: 0 10px 12px 0 rgba(41,52,73,0.5);
}

.pop-manufacts-list__link:active {
    opacity: 0.5;
    box-shadow: 0 4px 5px 0 rgba(41,52,73,0.5);
}

.images {
    display: block;
}

.main-title {
    margin: 0;
    padding: 0;

    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-title {
    margin-bottom: 30px;
}

.main-text {
    margin: 0;
    padding: 0;

    font-family: "PTSans" , "Arial" , "sans-serif";
    font-style: normal;
    font-size: 13px;
    line-height: 24px;
}

.services-scroll {
    position: relative;

    padding: 60px 0;
}

.services-scroll::before {
    content: "";
    
    position: absolute;
    top: 15px;
    right: 0;

    width: 10px;
    height: 272px;

    background-image: url('../images/services.png');
}

.services-scroll-button {
    margin: 0;
    padding: 0;
}

.services-scroll-button__item {
    list-style:none;
}

.services-slide__container {
    padding: 60px 0;

    display: flex;
    justify-content: space-between;
}

.services-slide__title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.delivery-text {
    width: 295px;
}

.guarantee-text {
    width: 380px;
}

.credit-text {
    margin-bottom: 20px;

    width: 300px;
}

.services-slide-delivery {
    width: 620px;

    background-image: url('../images/delivery-image.png');
    background-repeat: no-repeat;
    background-position: 140px 25px;
}

.services-slide-guarantee {
    display: none;
    width: 620px;

    background-image: url('../images/guarantee-image.png');
    background-repeat: no-repeat;
    background-position: 230px 0;
}

.services-slide-credit {
    display: none;
    width: 620px;

    background-image: url('../images/credit-image.png');
    background-repeat: no-repeat;
    background-position: 155px 0;
}

.partners-list {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    
    list-style: none;
    font-size: 18px;
    line-height: 20px;
}

.partners-list__item {
    padding-bottom: 15px;
}

.services-slide__title {
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
}

.button {
    display: block;

    padding: 10px 0;

    font-size:  14px;
    line-height: 18px;
    font: inherit;

    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
    border-radius: 2px;
}

.button-services {
    margin: 0;
    padding: 0;
    padding: 15px 23px;
    
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    text-align: left;

    background-color: #32425c;

    border: none;
    outline: none;
    
    width: 240px;
}

.button-services:active,
.button-services:focus {
    color: #32425c;
    background-color: #ffffff;

    border: none;
}

.button--form {
    width: 100%;

    margin-top: 37px;
}

.button--catalog {
    margin-left: 25px;

    width: 195px;
}

.button-catalog--form {
    margin-top: 50px;

    padding: 14px;
    width: 140px;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.button--pop {
    width: 253px;
}

.button--application {
    width: 195px;

    background-color: #ff5357;
}

.button--company {
    width: 220px;
}

.company__container {
    display: flex;
    justify-content: space-between;

    padding-top: 75px;
    padding-bottom: 80px;
}

.company-text {
    margin-bottom: 30px;
}

.contacts-text {
    width: 195px;
    margin-bottom: 30px;
}

.company-title {
    margin-bottom: 30px;
}

.company-info {
    width: 545px;

    display: flex;
    flex-direction: column;
}

.company-info-footer {
    width: 550px;
}

.contacts__container {
    width: 300px;

    display: flex;
    flex-direction: column;
}

.contacts-map {
    margin: 0;
    margin-bottom: 37px;
    padding: 0;
}

.button--map {
    width: 100%;
}

.popup-catalog {
    background-color: #f1f1f1;
}

.catalog-popup {
    list-style: none;
}

.catalog-popup-list {
    font-size:  14px;
    line-height: 18px;
    text-transform: uppercase;
}

.catalog-popup--issue {
    color: #ffffff;
    background-color: #ee3643;
}

.catalog-popup--continue {
    color: #000000;
    background-color: #ffffff;
}

.button:hover {
    background-color: #ca2c37;
}
.button:focus {
    background-color: #ba2732;
}

.appointment {
    margin: 0;
    padding: 0;
    margin-left: 160px;
    
    width: 620px;

    background-color: #ffffff;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.75);
}

.appointment-form {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 55px;
    margin-bottom: 37px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 460px;
}

.appointment-form__filed {
    margin: 0;
    padding: 0;

    width: 220px;
}

.appointment-form__label {
    display: block;
 
    font-size:  18px;
    line-height: 18px;
}

.appointment-form__input {
    box-sizing: border-box;
    width: 220px;
    padding-left: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    font-family: "PTSans" , "Arial" , "sans-serif";
    font-style: normal;
    font-size: 13px;
    line-height: 18px;
    font: inherit;
    color: #a9a9a9;

    border: 2px solid #d7dcde;
    outline: none;
}

.appointment-form__input:hover {
    border-color: #b5b5b5;
}

.appointment-form__input:focus {
    border-color: #ee3643;
}

.services {
    display: flex;

    background-color: #f2f6f8;
}

.services-menu {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

.services__container {
    padding-top: 65px;
    padding-bottom: 54px;
}

.services-header__container {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    width: 425px;
}

.shop-footer {
    background-color: #32425c;
}

.shop-footer__container {
    display: flex;
    justify-content: space-between;
}

.site-navigation-footer {
    margin: 0;
    padding: 0;
    padding: 23px 0;

    display: flex;
    justify-content: space-between;

    list-style:none;
}

.site-navigation-footer__link {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.site-navigation-footer--menu {
    margin: 0;
    padding: 0;
    padding-left: 25px;
}

.site-navigation-footer--menu .site-navigation-footer__link {
    font-size: 18px;
    line-height: 24px;
    color: #ffda96;
}

.site-navigation-footer__link:hover {
    text-decoration: underline;
}

.site-navigation-footer__link:focus {
    opacity: 0.5;
}

.social-footer {
    background-color: #293449;
}

.social-footer__container {
    padding: 30px 0;

    display: flex;
    justify-content: space-between;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.social-footer-list {
    margin: 0;
    padding: 0;
    
    width: 131px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.social-footer-social-links {
    width: 300px;

    display: flex;
    justify-content: wrap;
    justify-content: space-between;
}

.social-footer-social-link-mail {
    width: 190px;
}

.social-footer-social-link-site {
    width: 110px;
}

.social-footer-list__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    background-color: #212a3a;

    color: #ffffff;
}

.social-footer__text {
    margin: 0;
    padding: 0;
}

.social-footer-list__button:hover,
.social-footer-list__button:focus {
    background-color: #ee3643;
}

.social-footer__link {
    font-size: 16px;
    line-height: 18px;
    color: #ffd180;
}

.social-footer__link:hover {
    text-decoration: underline;
}

.social-footer__link:focus {
    color: #ee3643;
}
